$def with (metadata, id, filename)
<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>NICS Data Nucleus</title>
</head>

<body>
<h1>NICS Data Nucleus</h1>

<p>
Editar metadados<br \>
<form method="POST" enctype="multipart/form-data">
<input type="hidden" name="id" value="$id" \>
<input type="hidden" name="action" value="update" \>
  Metadados:<br \>
  <textarea name="metadata" rows=25 cols=60>
$metadata
</textarea><br \>
<input type="submit" value="Update"/>
</form>
</p>

<hr \>
<form method="POST" enctype="multipart/form-data">
<input type="hidden" name="id" value="$id" \>
<input type="hidden" name="filename" value="$filename" \>
<input type="hidden" name="action" value="delete" \>
<input type="submit" value="Delete entry"/>
</form>

<hr>
<address></address>
<!-- hhmts start -->Last modified: Wed Nov 19 21:09:06 BRST 2014 <!-- -->
<!--hhmts end --> 
</body> </html>
