$def with (metadata, id, filename)
<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>MaCuNaIMA</title>
</head>

<body>
<h1>MaCuNaIMA</h1>

<p>
Editar metadados<br \>
<form method="GET" enctype="multipart/form-data" action="/">
<input type="hidden" name="id" value="$id" \>
<input type="hidden" name="action" value="update" \>
  Metadados:<br \>
  <textarea name="metadata" rows=25 cols=60>
$metadata
</textarea><br \>
<input type="submit" value="Salvar"/>
</form>
</p>

<hr \>
<form method="POST" enctype="multipart/form-data">
<input type="hidden" name="id" value="$id" \>
<input type="hidden" name="filename" value="$filename" \>
<input type="hidden" name="action" value="delete" \>
<input type="submit" value="Apagar arquivo"/>
</form>

<hr>
<address></address>
<!-- hhmts start -->Last modified: Tue Jan 27 08:48:01 BRST 2015 <!-- hhmts end -->
</body> </html>
